*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: #3CA55C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.flexContainer{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: #62BB44;
    font-weight: 600 !important;
}

.bgGreen{
    /* background-color: #EDFAEC; */
    background-color: #FFFFFF;
}

.btn{
    background-color: #62BB44 !important;
    color: white;
}

.btn:hover{
    background-color: #62BB44 !important;
    color: white;
    font-weight: bold;
}

.black{
    /* background-color: black; */
    color: #62BB44;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

td {
    white-space: normal !important; 
    word-wrap: break-word;  
  }
  table {
    table-layout: fixed;
  }